# Ignoramos el entorno que incluye los paquetes numpy matplotlib y vpython
/MiEntorno

# Ignora el .vscode para poder ejecutar C++
.vscode

# Ignora .exe
*.exe

# Ignora .zip
*.zip

# Ignora word
*.docx

# Ignora fotos
*.png
*.jpg